/* START Header topbar share icon styles */
.book-header a[aria-label=telegram]:hover {
    color: rgb(29, 155, 240);
}

.book-header a[aria-label=twitter]:hover {
    color: rgb(29, 155, 240);
}

.book-header a[aria-label=sns-app]:hover {
    font-weight: bold;
    color: #ea6060;
}

.book-header a[aria-label=linkkey]:hover {
    font-weight: bold;
}

/* END Header topbar share icon styles */

/* slider menu acitive styles */
.book-summary ul.summary li.active>a {
    font-weight: bold;
    color: #ea6060;
}
.book-summary ul.summary li>a:hover {
    color: #ea6060;
}

/* Airticle H1 tag styles */
.markdown-section h1 {
    color: #ea6060;
}

/* Airticle H3 tag  inner a tag styles */
.markdown-section h3>a {
    color: #d53838;
}

/* Airticle H4 tag  inner a tag styles */
.markdown-section h4>a {
    color: #d53838;
}

/* copy button styles */
.markdown-section .copy-code-button {
    background-color: #ea6060 !important;
}

/* page inner menu */
#anchor-navigation-ex-navbar {
    background-color: #ea6060;
    color: white;
    border-radius: 14px;
    transform: scale(1.5);

}

/* START anchor styles */
#anchor-navigation-ex-navbar:hover {
    background-color: white;
    color: black;
    transform: scale(1);
}

#anchor-navigation-ex-navbar ul {
    background-color: white;
    color: black;
    transform: scale(1);
}

#anchor-navigation-ex-navbar ul>li a:hover {
    color: #ea6060;
    font-weight: bold;
}

#anchorNavigationExGoTop {
    background-color: #ea6060;
    color: white;
    border-radius: 14px;
    transform: scale(1.4);
}

#anchorNavigationExGoTop:hover{
    transform: scale(1.5);
}

/* END anchor styles */